.profile-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #444;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.user-info-card,
.password-card {
    flex-basis: calc(50% - 10px);
    color: #fff;
}

@media (max-width: 600px) {
    .user-info-card,
    .password-card {
        flex-basis: 100%;
        margin-right: 0;
    }
}

mat-card {
    margin-bottom: 20px;
    background-color: #555;
    color: #fff;
}

mat-form-field {
    width: 100%;
}

mat-form-field .mat-input-element {
    color: #fff;
}

button {
    margin-top: 10px;
    float: right;
}

.delete-link {
    display: inline-flex;
    align-items: center;
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.delete-link:hover {
    color: darkred;
}

.delete-link .mat-icon {
    margin-right: 5px;
}