<mat-card>
    <mat-card-title>Sign Up</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onRegister()">
            <mat-form-field>
                <mat-label>First Name</mat-label>
                <input formControlName="firstname" type="text" matInput required>
                <mat-hint *ngIf="f['firstname'].touched && f['firstname'].errors">This field is required</mat-hint>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input formControlName="lastname" type="text" matInput required>
                <mat-hint *ngIf="f['lastname'].touched && f['lastname'].errors">This field is required</mat-hint>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Date of Birth</mat-label>
                <input formControlName="birthdate" [max]="maxDate" matInput [matDatepicker]="picker">
                <mat-hint *ngIf="f['birthdate'].touched && f['birthdate'].errors">This field is required</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Genre</mat-label>
                <mat-hint *ngIf="f['genre'].touched && f['genre'].errors">This field is required</mat-hint>
                <mat-select formControlName="genre">
                <mat-option value="F">Female</mat-option>
                <mat-option value="M">Male</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Email</mat-label>
                <input formControlName="email" type="email" matInput required>
                <mat-hint *ngIf="f['email'].touched && f['email'].errors">This field is required</mat-hint>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Password</mat-label>
                <input formControlName="password" type="password" matInput required>
                <mat-hint *ngIf="f['password'].touched && f['password'].errors">This field is required</mat-hint>
            </mat-form-field>

            <p *ngIf="errorUser" class="error">User already exists</p>
            <p *ngIf="errorServer" class="error">An error has occurred</p>

            <button mat-raised-button color="primary" [disabled]="this.form.invalid">Sign Up</button>
        </form>
    </mat-card-content>
</mat-card>