/* home.component.css */
.home {
    text-align: center;
    margin-top: 50px;
  }
  
  h1 {
    font-size: 24px;
    color:cadetblue
  }
  
  h2 {
    font-size: 20px;
    margin-top: 30px;
    color:cadetblue

  }
  
  p {
    font-size: 16px;
    margin-top: 20px;
    color: aliceblue;
  }
  
  .chat-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  