<header class="header">
  <nav *ngIf="authService.isLoggedIn()" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="https://i.ibb.co/T87RLFG/logo1.png" alt="logo" width="150" height="50"> </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/chat">Chat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile">Profile</a>
        </li>
      </ul>
    </div>
    <div>
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="logout()">Logout</button>
    </div>
  </nav>
  <nav *ngIf="!authService.isLoggedIn()" class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="https://i.ibb.co/T87RLFG/logo1.png" alt="logo" width="150" height="50"></a>
  <div class="collapse navbar-collapse ml-auto" id="navbarNav">
    <ul class="navbar-nav ml-auto"></ul>
    <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/connexion">Login</button>
  </div>
  </nav>

</header>
