<div class="footer-basic">
        <footer>
            <div class="social">
            	<a href="#"><img src="https://i.ibb.co/GQM8s8d/facebook.png" alt="facebook" border="0" height="50" width="50"></a>
            	<a href="#"><img src="https://i.ibb.co/Kr4BYmb/snap.png" alt="snap" border="0" width="50" height="50"></a>
            	<a href="#"><img src="https://i.ibb.co/1nMLqN9/instagram.png" alt="instagram" border="0" width="50" height="50"></a>
            	<a href="#"><img src="https://i.ibb.co/ZLfwpyP/discord.png" alt="discord" border="0" height="50" width="50"></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a routerLink="/">Home</a></li>
                <li class="list-inline-item"><a routerLink="/terms-and-conditions">Terms</a></li>
                <li class="list-inline-item"><a routerLink="/contact-us">Contact</a></li>
                <li class="list-inline-item"><a routerLink="/profile">Profile</a></li>
            </ul>
            <p class="copyright">RecipeBot © 2023</p>
        </footer>
    </div>