<div class="chat-container">
  <!-- Modal Trigger Button -->
  <button class="btn btn-primary" (click)="openModal()">See saved Conversation</button>
  <br>
  <button class="btn btn-primary" style="margin-top: 1%;" (click)="newConv()">New conversation</button>
  <!-- Conversation Previews Modal -->
  <div class="modal" [ngClass]="{'show': isModalOpen}" (click)="closeModal()">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Conversation History</h5>
          <button type="button" class="close" (click)="closeModal()">
            <span>&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="conversation-previews">
            <span *ngFor="let conversation of conversationHistory; let i = index" (click)="displayConversation(conversation)">
              {{ conversation.conversation[0]?.text }}
              <svg style="margin-left: 90%;" (click)="deleteConversation(conversation.id); $event.stopPropagation()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
              </svg>
            </span>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="chatbox-wrapper">
    <button class="btn btn-primary" style="margin-top: 1%;" (click)="saveConversation()">Save Active Conv</button>

    <div class="message-box">

      <div *ngFor="let message of messages" class="chat" [ngClass]="{'response':message.fromu == 'bot', 'message':message.fromu=== 'user'}">
        <img *ngIf="message.fromu === 'bot'" src="assets/chatbot.jpg">
        <img *ngIf="message.fromu === 'user'" src="assets/user.png">
        <span class="message-text">
          {{ message.text }}
        </span>
      </div>
    </div>
    <div class="messagebar">
      <div class="bar-wrapper">
        <input type="text" placeholder="Enter your message..." [(ngModel)]="userInput" (keypress)="onKeyPress($event)">
        <button (click)="sendMessage()">
          <span class="material-symbols-rounded">
            send
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
