mat-card {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
    background-color: #555;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

mat-card-title {
    text-align: center;
    margin-bottom: 20px;
}

mat-form-field {
    width: 100%;
    padding: 3px;
}

mat-form-field .mat-input-element {
    color: #fff;
}

mat-hint {
    color: #ff0000;
    font-size: 15px;
}

input::placeholder {
    color: #ccc;
}

.error {
    padding: 9px;
    width: 77.5%;
    float: left;
    color: #fff;
    background-color: red;
    text-align: center;
    border-radius: 5px;
}

button {
    float: right;
}