<mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onLogin()">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input formControlName="email" type="email" matInput required>
                <mat-hint *ngIf="f['email'].touched && f['email'].errors">This field is required</mat-hint>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Password</mat-label>
                <input formControlName="password" type="password" matInput required>
                <mat-hint *ngIf="f['password'].touched && f['password'].errors">This field is required</mat-hint>
            </mat-form-field>

            <p *ngIf="error" class="error">Email or password invalid</p>

            <button mat-raised-button color="primary" [disabled]="this.form.invalid">Login</button>
        </form>
    </mat-card-content>
</mat-card>